.search {
  width: 70%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.cookbookSearch {
    
    font-size: 12pt;
    width: 100%;
    
    border-radius: var(--ifm-global-radius);
    border: none;
    padding: 5px;
    color: var(--ifm-primary-color);
    /* background-color: var(--ifm-background-color); */
  }
.blogPostItem {
    background-color: var(--ifm-background-surface-color);
    /* border: 1px solid var(--ifm-background-surface-color); */
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-lw);
    color: var(--ifm-font-color-base);
    display: block;
    margin-bottom: var(--ifm-spacing-vertical);
    padding: calc( var(--ifm-spacing-vertical)) calc( var(--ifm-spacing-horizontal) * 2 );
    transition: box-shadow var(--ifm-transition-fast), background-color var(--ifm-transition-fast);
}
.blogPostItem:hover {
    text-decoration: none;
    background-color: var(--ifm-background-color);
    box-shadow: var(--ifm-global-shadow-md);
}
.cookbookItemsContainer {
    --ifm-container-width: 1100px;
    --ifm-container-width-xl: 1100px;
  }


@media only screen and (max-width: 996px) {
  .search {
    width: 100%;
  }

}