/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
  background: url('/img/walking_outside.svg') rgba(0,0,0,0.6) no-repeat center center;
  background-blend-mode: multiply;
  background-size: cover;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    align-items: center;
  }
  .avatarStyle {
    width: 180px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgAvatar {
  width: 280;
  border-radius: '50%';
  transition: '0.2s';
}

.avatarStyle {
  max-width: 250px;
  box-shadow: 0 5px 20px 10px rgba(204,188,188,0.5);
  object-fit: cover;
  background-color:rgba(0,0,0,0.5);
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.8s;
  
}
.avatarStyle:hover {
  cursor: pointer;
  border: 10px solid rgba(255, 255, 255, 1);
  box-shadow: 0 5px 20px 20px rgba(204,188,188,0.5);
  transform:rotate(-360deg) scale(1.25);
  transition: transform 1s ease-in-out; 
}
.imgBox {
  margin-bottom: 2rem;
}
.container {
  /* margin-top: 0; 
  height: 100%; */
}
.subtitle {
  /* font-size: 1rem; */
  text-decoration:underline;

}