/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  /* align-items: flex-start; */
  position: relative;
  /* overflow: hidden; */
  background: url('/img/wallhaven-j563wm_1920x1080.png') rgba(0,0,0,0.5) no-repeat center center;
  background-blend-mode: multiply;
  background-size: cover;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    align-items: center;
  }
  .avatarStyle {
    width: 180px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgAvatar {
  width: 280;
  border-radius: '50%';
  transition: '0.2s';
}

.avatarStyle {
  max-width: 250px;
  /* box-shadow: 0 5px 20px 10px rgba(204,188,188,0.5); */
  object-fit: cover;
  background-color:rgba(0,0,0,0.5);
  border: 10px solid rgba(252, 251, 251, 0.9);
  border-radius: 50%;
  transition: all 0.8s;
  
}
.avatarStyle:hover {
  cursor: pointer;
  border: 10px solid rgba(247, 245, 245, 1);
  box-shadow: 0 5px 20px 20px rgba(204,188,188,0.5);
  transform:rotate(-360deg) scale(1.25);
  transition: transform 1s ease-in-out; 
}
.imgBox {
  margin-bottom: 2rem;
}
.container {
  /* margin-top: 0; */
  /* height: 1000px; */
}